body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.comp {
  border: 1px dashed blue;
  padding: 10px;
  margin: 10px;
}
.centered {
  max-width: 360px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #dedede;
  border-radius: 20px;
  text-align: center;
}

.centered.male {
  background-color: skyblue;
}

.centered.female {
  background-color: pink;
}

